:root{
    --bg: #F2F5F9;
    --card-bg: #FFFFFF;
    --title: #111729;
    --other-text: #4A5567;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    color: var(--other-text);
    background-color: var(--bg);
    font-family: 'Lato';
    padding: 70px 25px;
}
.card {
    background-color: var(--card-bg);
    max-width: 420px;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
}
.top-img-block {
    position: relative;
}
.top-img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}
.white-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.bottom-block {
    padding: 0 25px 25px 30px;
    position: relative;
}
.title {
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: var(--title);
    font-weight: 600;
}
.body-txt {
    line-height: 1.5;
    margin-bottom: 25px;
}
hr{
    width: 100%;
    border: 0;
    border: 1px solid var(--bg);
    position: absolute;
    left: 0;
}
.avatar-block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.avatar-img-block img{
    border-radius: 50%;
    padding: 4px;
    background-color: var(--bg);
    width: 50px;
    height: 50px;
}
.name {
    color: var(--title);
}

@media (max-width: 420px){
    body {
        padding: 20px 10px;
    }
}
